
.poster-wrapper {
    margin: 20px 5%;
}

.poster {
    margin: 10px;
    height: 278px;
    width: 485px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
}

.results-poster {
    vertical-align: baseline;
    display: inline-block;
    height: 278px;
    border-radius: 1px;
}

.poster-content {
    height: 100%;
    padding: 15px;
    width: calc(100% - 185px);
    display: inline-block;
    /*border: 1px solid black;*/
}
